<html>
<head>
<h1>italia</h1>
</head>

<body>


<centrer> <img src=/static/images/italia_politica.jpg   usemap="#Italiapolitica" aling="middle"> </centrer>
<map name="Italiapolitica">
<area href="/Aosta" shape="circle" coords="65,157,30" alt="Regione_ValleDAosta">
 <area href="/Liguria" shape="poly" coords="62, 355, 80, 325, 107, 318, 120, 288, 201, 281, 247, 332, 157, 295, 96, 350 " alt="Regione_Ligura"> 
  <area href="/Piemonte" shape="poly" coords="42, 183, 102, 107, 136, 89, 149, 200, 140, 208, 150, 235, 188, 278, 110, 282, 78, 320, 22, 303, 36, 249, 7, 218" alt="Regione_Piemonte"> 
<area href="/Lombardia" shape="poly" coords="164, 136, 190, 261, 214, 220, 339, 247, 293, 187, 286, 92, 259, 119, 210, 90, 178, 156" alt="Regione_Lombardia"> 
<area href="/Trentino" shape="poly" coords="298, 55, 293, 159, 377, 129, 396, 75, 419, 75, 401, 34, 315, 65" alt="Regione_Trentino"> 
<area href="/Veneto" shape="Poly" coords="305, 171, 360, 247, 423, 248, 400, 183, 470, 176, 423, 150, 427, 96, 444, 79, 389, 90, 389, 134, 332, 187" alt="Regione_Veneto">
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->
<!--  <area href="/" shape="" coords="" alt=""> -->


</map>
    

</body>

</html>