<html>
<head>
<title>Progetto</title>
<style>
body {
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
background-color: #CCC;
margin: 0;
padding: 0;
color: #000;
}
p {
margin-top: 0; 
padding-right: 15px;
padding-left: 15px;
}
</style>
</head>
<body>
<h1>Sito sviluppato da Ambrosino Salvatore e Di Lecce Gabriele</h1>
In questo Sito potrete ottenere varie informazioni inerenti alle Regioni di Italia<br>
come ad esempio un grafico contenente i dati delle persone positive al tampone molecolare covid-19<br>
oppure, più semplicemente, visualizzare delle tabelle contenenti i dati regionali.<br>



</body>
</html>
<form action='/posthome'target="_blank">
    <input type="submit"value="HOMEPAGE">
</form>